<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<type name="Magento\Framework\Console\CommandList">
		<arguments>
			<argument name="commands" xsi:type="array">
				<item name="ImportProduct" xsi:type="object">Cento\Automation\Console\Command\ImportProduct</item>
                <item name="ImportManufacturer" xsi:type="object">Cento\Automation\Console\Command\ImportManufacturer</item>
                <item name="UpdateProduct" xsi:type="object">Cento\Automation\Console\Command\UpdateProduct</item>
                <item name="UpdatePriceStock" xsi:type="object">Cento\Automation\Console\Command\UpdatePriceStock</item>
                <item name="UpdateProductImages" xsi:type="object">Cento\Automation\Console\Command\UpdateProductImages</item>
                <item name="SendNvv" xsi:type="object">Cento\Automation\Console\Command\SendVenta</item>
			</argument>
		</arguments>
	</type>
    <type name="\Magento\Customer\Controller\Account\LoginPost">
        <plugin name="yourplugin_customerlogin_loginpostplugin" type="\Cento\Automation\Plugin\LoginPostPlugin" sortOrder="1" />
    </type>
</config>
